.main-bg {
    &:before {
        width: 100%;
        height: 100%;
    }
    &:after {
        width: 100%;
        height: 100%;
    }

}

.signup-heading {
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    font-family: rubiklight;
}

.signup-form {
    text-align: center;
    margin-top: 5rem;
    input {
        width: 50%;
        margin-top: 1.5rem;
        padding: 16px;
        border-radius: 50px;
        border: none;
        font-family: rubiklight;
        color: #808080;
        outline: none;
        background: #E6E6E6;
    }
    .sort {
        width: 50%;
        margin-top: 1.5rem;
        padding: 7px;
        border-radius: 50px;
        border: none;
        font-family: rubiklight;
        color: #808080;
        outline: none;
        background: #E6E6E6;
        margin-right: auto;
        margin-left: auto;
    }
    .sorOptopion {
        color: #808080;
    }
    .input-message {
        height: 200px;
        width: 50%;
        border-radius: 10px;
        border: none;
        margin-top: 1.5rem;
        padding: 16px;
        font-family: rubiklight;
        color: #808080;
        outline: none;
        background: #E6E6E6;
    }
    .input-message::placeholder {
        font-family: rubiklight;
        color: #808080;
    }
    input::placeholder {
        font-family: rubiklight;
        color: #808080;
    }
}

.sign-up-btn {
    margin-top: 2rem;
}

@media only screen and (min-width:2560px) {
    .main-bg {
        height: 800px !important;
    }
}

@media only screen and (min-width:1920px) {
    .main-bg {
        height: 900px;
    }
}

@media only screen and (max-width:1600px) {
    .main-bg {
        height: 700px;
    }
}

@media only screen and (max-width:1600px) {}

@media only screen and (max-width:1440px) {
    .main-bg {
        height: 650px;
    }
}

@media only screen and (max-width:1366px) {
    .main-bg {
        height: 520px;
    }
}

@media only screen and (max-width:1024px) {
    .main-bg {
        height: 770px;
    }
}

@media only screen and (max-width:768px) {
    .signup-form {
        margin-top: 2rem;
        input {
            width: 100%;
        }
        .input-message {
            width: 100%;
        }
    }
    .signup-form {
        .sort {
            width: 100%;
        }
    }
}

@media only screen and (max-width:414px) {
    .main-bg {
        height: 500px;
        .row {
            h1 {
                font-size: 2.5rem;
            }
        }
    }
    .signup-form {
        .sort {
            width: 100%;
        }
    }
}
