.main-bg {
    &:before {
        background: url(../../../../assets/1x/contactusbackimg.png);
    }

}

.signup-heading {
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    font-family: rubiklight;
}
textarea{
  resize: none;
}
.signup-form {
    text-align: center;
    margin-top: 5rem;
    input {
        width: 50%;
        margin-top: 1.5rem;
        padding: 16px;
        border-radius: 50px;
        border: none;
        font-family: 'rubikregular';
        color: #000;
        outline: none;
        background: #E6E6E6;
    }
    .sort {
        width: 50%;
        margin-top: 1.5rem;
        padding: 7px;
        border-radius: 50px;
        border: none;
        font-family: rubiklight;
        color: #808080;
        outline: none;
        background: #E6E6E6;
        margin-right: auto;
        margin-left: auto;
    }
    .sorOptopion {
        color: #808080;
    }
    .input-message {
        height: 200px;
        width: 50%;
        border-radius: 10px;
        border: none;
        margin-top: 1.5rem;
        padding: 16px;
        font-family: rubiklight;
        color: #808080;
        outline: none;
        background: #E6E6E6;
    }
    .input-message::placeholder {
        font-family: rubiklight;
        color: #808080;
    }
    input::placeholder {
        font-family: rubiklight;
        color: #808080;
    }
}

.sign-up-btn {
    margin-top: 2rem;
}

@media only screen and (min-width:2560px) {
}

@media only screen and (min-width:1920px) {
}

@media only screen and (max-width:1600px) {
}

@media only screen and (max-width:1600px) {}

@media only screen and (max-width:1440px) {
}

@media only screen and (max-width:1366px) {
}

@media only screen and (max-width:1024px) {
}

@media only screen and (max-width:768px) {
    .signup-form {
        margin-top: 2rem;
        input {
            width: 100%;
        }
        .input-message {
            width: 100%;
        }
    }
    .signup-form {
        .sort {
            width: 100%;
        }
    }
}

@media only screen and (max-width:414px) {
    .main-bg {
        .row {
            h1 {
                font-size: 2.5rem;
            }
        }
    }
    .signup-form {
        .sort {
            width: 100%;
        }
    }
}
