// commons
.head h5,
    .head h1,
    .missionHeader h1,
    .aboutUsPara h3{
      color:#000;
    }
    .reviewsbox1 h1,
    .review-banner,
    .reviewsbox2 p,
    .download-section{
      font-family: rubiklight;
    }
    .head h1,
    .aboutUsPara h3,
    .missionHeader h1{
      font-family: rubiksemibold;

    }
// banner section
.main-bg {
    &:before {
        background: url(../../../../assets/1x/aboutus.png);
    }
}

// download section
.download-section {
    position: relative;
    padding-top: 30px;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .head {
        h1 {
            font-size: 35px;

        }
        img {
            width: 150px;
            height: 100px;
            object-fit: contain;
            margin-left: 20px;
        }
    }
    h5 {
        transform: translateY(-15px);
        font-size: 22px;
        font-family: rubikregular;
    }
    .download-icons {
        width: 100%;
        bottom: 30px;
        label {
            font-weight: 600;
        }
        .icons {
            width: 130px;
            min-height: 45px;
            object-fit: contain;
            img {
                width: 100%;
                &:last-child {
                    margin-left: 20px;
                }
            }
        }
    }
    .img-box {
        width: 500px;
        height: 350px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .forPhone {
        display: none;
    }
}

// abotusContainer
.abotusContainer {
    position: relative;
    .getToknowImg {
        width: 53%;
        height: 770px;
    }
    .aboutUsPara {
        position: absolute;
        background-color: #fff;
        width: 51.5%;
        top: 11%;
        right: 0%;
        padding: 40px 16px 75px 47px;
        box-shadow: rgb(0 0 0 / 20%) 0px 0px 64px -7px;
    }
    .aboutUsPara h3 {
        font-size: 45px;
        margin-bottom: 25px;
    }
    .aboutUsPara p {
        font-family: poppinregular;
        font-size: 15px;
        color: #666666;
    }
}

//  Our Mission
.ourMissionContainer {
    .missionHeader h1 {
        text-align: center;
        font-size: 43px;
    }
    .ourMissonPara {
        max-width: 1000px;
        margin: auto;
        p {
            color: #B48618;
            font-family: poppinbolditalic;
            text-align: center;
            font-size: 15px;
        }
    }
}

// review-banner
.review-banner {
    background-color: #B48618;
    color: #fff;
    .reviewsbox1 {
        margin: 1.5rem 0;
        text-align: center;
    }
    .reviewsbox2 {
        margin: 1.5rem 0;
        text-align: center;
    }
    .reviewsbox1 h1 {
        font-size: 40px;
    }
    .reviewsbox2 .iconimagebox {
        width: 50px;
        height: 50px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 9px;
    }
}

// media queries
@media only screen and (min-width:2560px) {
}

@media only screen and (min-width:1920px) {
}

@media only screen and (max-width:1600px) {
}

@media only screen and (max-width:1440px) {
    input {
        width: 72%;
    }
    .cstm-container {
        .articles-section {
            .articles {
                .article {
                    width: 707px;
                }
                .article2 {
                    width: 470px;
                }
            }
        }
    }
}

@media only screen and (max-width:1366px) {
}

@media only screen and (max-width:1024px) {
    .main-bg {
        &:before {
            width: 1300px;
        }
    }
}

@media only screen and (max-width:768px) {
    .download-section{
        text-align: center;
    }
    .main-bg {
        &:before {
            width: 1045px;
        }
    }
    .search {
        .search-box {
            width: 70%;
        }
    }
     ::ng-deep {
        .prev-arrow {
            display: none !important;
        }
        .next-arrow {
            display: none !important;
        }
    }
    .img-box {
        width: 100%;
        height: 100%;
        margin: 0px auto;
    }
    .head,
    h4 {
        margin-top: 30px;
        text-align: center;
    }
    .download-icons {
        text-align: center;
    }
    .download-section .download-icons .icons img {
        width: 25%;
    }
    .download-section .download-icons .icons {
        width: 100%;
        min-height: 45px;
        justify-content: center;
        object-fit: contain;
    }
    .download-section {
        .download-icons {
            position: static;
        }
        .forWeb {
            display: none
        }
        .forPhone {
            display: block;
        }
    }
    .cstm-container {
        .articles-section {
            .articles {
                .article {
                    width: 90%;
                    margin: 2% auto;
                    button {
                        width: 50px;
                        height: 50px;
                    }
                }
                .article2 {
                    width: 90%;
                    margin: 2% auto;
                    button {
                        width: 50px;
                        height: 50px;
                    }
                }
                .img-box {
                    .content {
                        align-items: baseline;
                    }
                }
            }
        }
    }
    .want-to-sec {
        .second-col {
            text-align: left;
        }
    }
    // abotusContainer
    .abotusContainer {
        .aboutUsPara {
            width: 55%;
            top: 9%;
            right: 0%;
            padding: 26px 10px 30px 24px;
        }
        .aboutUsPara h3 {
            font-size: 30px;
        }
    }
    // review-banner
    .review-banner {
        margin-bottom: 1.5rem !important;
        flex-direction: column;
        .reviewsbox1 {
            margin: 1.5rem 0;
            text-align: center;
        }
        .reviewsbox2 {
            margin: 1.5rem 0;
            text-align: center;
        }
        .reviewsbox1 h1 {
            // font-family: 'rubiklight';
            font-size: 35px;
        }
    }
    .ourMissionContainer .missionHeader h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 540px) {
    .main-bg {
        &:before {
            width: 800px;
        }
    }
    // abotusContainer
    .abotusContainer {
        flex-direction: column;
        margin-top: 1rem !important;
        .getToknowImg {
            width: 100%;
            height: 450px;
        }
        .aboutUsPara {
            position: relative;
            width: 100%;
            box-shadow: none;
            text-align: center;
            padding: 10px 0px 15px 0px;
        }
        .aboutUsPara h3 {
            margin-bottom: 10px;
            font-size: 25px;
        }
        .aboutUsPara p {
            font-size: 12px;
            margin-bottom: 0;
        }
    }
    .ourMissionContainer {
        margin-top: 1rem !important;
    }
    .ourMissionContainer .missionHeader h1 {
        font-size: 25px;
    }
    .ourMissionContainer .ourMissonPara p {
        font-size: 12px;
    }
    .download-section .head h1 {
        font-size: 25px;
    }
    .review-banner {
        margin-bottom: -1rem !important;
        margin-top: 2rem !important;
    }
    .download-section {
      h5{
        font-size: 17px;
        margin: 0;
      }
      .download-icons {
        label{
          margin: 0;
        }
          .iconsPlay{
            justify-content: center;
            margin-top: 10px;
          }
      }
  }
}

@media only screen and (max-width:414px) {
    .main-bg {
        &:before {
            width: 600px;
        }
    }
    // abotusContainer
    .abotusContainer {
        .aboutUsPara h3 {
            font-size: 20px;
        }
        .aboutUsPara {
            padding: 15px 0px 15px 0px;
        }
    }
    .ourMissionContainer {
        margin-top: 1rem !important;
    }
    .ourMissionContainer .missionHeader h1 {
        font-size: 20px;
    }
    .ourMissionContainer .ourMissonPara p {
        font-size: 12px;
    }
    .head{
      margin-top: 5rem !important;
    }
    .download-section .head h1 {
        font-size: 24px;
    }
    .download-section h4 {
        font-size: 13px;
    }
    .review-banner {
        margin-bottom: -3rem !important;
    }
    .download-section .img-box {
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }
    .download-section .download-icons .icons img {
        width: 40%;
    }
    .download-section .download-icons .icons {
        width: 100%;
        min-height: 45px;
        justify-content: center;
        object-fit: contain;
    }
}

@media only screen and (max-width:375px) {
    .main-bg {
        &:before {
            width: 550px;
        }
    }
}
