<!-- home banner -->
<div class="main-bg d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="wow fadeInUp" data-wow-delay="0.5s">About Us</h1>
            </div>
        </div>
    </div>
</div>

<!-- getToknow -->
<div class="container">
    <div class="abotusContainer mt3 d-flex">
        <div class="getToknowImg wow fadeInLeft" data-wow-delay="0.5s">
            <img src="assets/1x/aboutusSec.png" width="100%" height="100%" alt="">
        </div>
        <div class="aboutUsPara wow fadeInRight" data-wow-delay="0.5s">
            <h3>
                Get to know us
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            </p>
        </div>
    </div>

</div>

<!-- Our Mission -->
<div class="container wow fadeInUp" data-wow-delay="0.5s">

    <div class="ourMissionContainer mt5">
        <div class="missionHeader">
            <h1>
                Our Mission
            </h1>
        </div>
        <div class="ourMissonPara">
            <strong>
             <em>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.

            </p>
             </em>
           </strong>
        </div>
    </div>
</div>

<!-- reviews-counter -->
<div class="review-banner  mt5 mb5 wow fadeInUp" data-wow-delay="0.5s">
    <div class="container">
        <div class=" review-banner d-flex  align-items-center justify-content-between">
            <div class="reviewsbox1">
                <h1>
                    Why Choose Us?
                </h1>
            </div>
            <div class="reviewsbox2">
                <div class="iconimagebox">
                    <img width="100%" height="100%" src="assets/SVG/aboutUsicon1.svg">
                </div>
                <p>
                    Wide Range Of <br> Properties
                </p>
            </div>
            <div class="reviewsbox2">
                <div class="iconimagebox">
                    <img width="100%" height="100%" src="assets/SVG/aboutUsicon2.svg" />
                </div>
                <p>
                    Customer Oriented
                </p>
            </div>
            <div class="reviewsbox2">
                <div class="iconimagebox">
                    <img width="100%" height="100%" src="assets/SVG/aboutUsicon3.svg" />
                </div>
                <p>
                    Decision Maker
                </p>
            </div>
        </div>
    </div>
</div>

<!-- download section -->
<div class="download-section mb4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.5s">
                <div class="img-box">
                    <img class="forWeb" src="assets/1x/aboutUsPhone.png" alt="">
                    <img class="forPhone" src="assets/1x/aboutUsPhone2.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center wow fadeInRight" data-wow-delay="0.5s">
                <div class="head d-flex flex-column mb1">
                    <h1>Find your House</h1>
                    <h1>Easier and Faster </h1>
                </div>
                <h5>Download our app to see the newest homes first</h5>

                <div class="download-icons">
                    <label for="">Download Now</label>
                    <div class="icons d-flex">
                        <img src="assets/1x/playstore.png" alt="">
                        <img src="assets/1x/appstore.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
