<!-- home banner -->
<div class="main-bg d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>About Us</h1>
      </div>
    </div>
  </div>
</div>

<!-- getToknow -->
<div class="container">
  <div class="abotusContainer mt3 d-flex">
    <div class="getToknowImg">
      <img src="../../../../assets/1x/aboutusSec.png" width="100%" height="100%" alt="">
    </div>
    <div class="aboutUsPara">
      <h3>
        Get to know us
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex
        ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore
      </p>
    </div>
  </div>

</div>

<!-- Our Mission -->
<div class="container">

  <div class="ourMissionContainer mt2">
    <div class="missionHeader">
      <h1>
        Our Mission
      </h1>
    </div>
    <div class="ourMissonPara">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex
        ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
        praesent luptatum zzril
        delenit augue duis dolore te feugait nulla facilisi.

      </p>
    </div>
  </div>
</div>

<!-- reviews-counter -->
<div class="review-banner  mt5 mb5">
  <div class="container">
    <div class=" review-banner d-flex  align-items-center justify-content-between">
      <div class="reviewsbox1">
        <h1>
          Why Choose Us?
        </h1>
      </div>
      <div class="reviewsbox2">
        <div class="iconimagebox">
          <img width="100%" height="100%" src="../../../../assets/1x/aboutUsicon1.png" />
        </div>
        <p>
          Wide Range Of <br> Properties
        </p>
      </div>
      <div class="reviewsbox2">
        <div class="iconimagebox">
          <img width="100%" height="100%" src="../../../../assets/1x/aboutUsicon2.png" />
        </div>
        <p>
          Customer Oriented
        </p>
      </div>
      <div class="reviewsbox2">
        <div class="iconimagebox">
          <img width="100%" height="100%" src="../../../../assets/1x/aboutUsicon3.png" />
        </div>
        <p>
          Decision Maker
        </p>
      </div>
    </div>
  </div>
</div>

<!-- download section -->
<div class="download-section mb2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="img-box">
          <img class="forWeb" src="../../../../assets/1x/aboutUsPhone.png" alt="">
          <img class="forPhone" src="../../../../assets/1x/aboutUsPhone2.png" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="head d-flex flex-column mb1">
          <h1>Find your House</h1>
          <h1>Easier and Faster </h1>
          <!-- <img src="../../../../assets/1x/logo-2.png" alt=""> -->
        </div>
        <h4>Download our app to see the newest homes first</h4>

        <div class="download-icons">
          <label for="">Download Now</label>
          <div class="icons d-flex">
            <img src="../../../../assets/1x/play-store.png" alt="">
            <img src="../../../../assets/1x/app-store.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
