<footer class="wow">
    <div class="footer-row">
        <div class="container d-flex justify-content-between align-items-baseline">
            <div class="logo-sec">
                <div class="img-box">
                    <a href="javascipt:void(0)" routerLink="">
                        <img src="assets/SVG/logo2.svg" alt="">
                    </a>
                </div>
                <p for="">8017 Grass Creek Drive Edmond 73034</p>
                <p for="">970-261-1887/970-640-039</p>
                <p for="">Robert.Ventrelli@gmail.com</p>
                <div class="iconsPlay d-flex">
                    <a href="javascript:void(0)">
                        <img src="assets/1x/playstore.png" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="assets/1x/appstore.png" alt="">
                    </a>
                </div>
            </div>
            <div class="links-sec d-flex flex-column">
                <h4>Pages</h4>

                <a href="javascript:void(0)" routerLink=''>Home</a>


                <a href="javascript:void(0)" routerLink='/forbuy'>For Buy</a>


                <a href="javascript:void(0)" routerLink='/forrent'>For Rent</a>


                <a href="javascript:void(0)" routerLink='/articles'>News & Articles</a>


                <a href="javascript:void(0)" routerLink='/aboutus'>About Us</a>
                <a href="javascript:void(0)" routerLink='/contactus'>Contact Us</a>

            </div>
            <div class="links-sec d-flex flex-column">
                <h4>Quick Links</h4>

                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#SignUpModal">Log In</a>


                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#SignInModal">Sign Up</a>


                <a routerLink='/terms'>Terms of use</a>
                <a routerLink='/privacy'>Privacy Notice</a>

            </div>
            <div class="newsletter-sec d-flex flex-column">
                <h4>NewsLetter</h4>
                <input type="email" placeholder="Email">
                <button class="black-btn btn-slide-left ">Subscribe Now</button>
            </div>
        </div>
        <!-- <p class="copyright"> <a href="https://designprosusa.com/"> Copyright@Design Pros USA 2021</a></p> -->
        <p class="copyright">
            All Copyrights Reserved by Buy Oklahoma <br/> Designed & Developed by <a href="https://designprosusa.com/">Design Pros USA</a>
        </p>
    </div>
</footer>