.navbar {
    width: 100%;
    background-color: transparent;
    font-family: rubiklight;
    position: fixed;
    z-index: 200;
    transition: 0.5s all ease-in-out;
    top: 0;
    .navbar-brand {
        width: 130px;
        max-height: 70px;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    ul {
        list-style: none;
        li {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: #fff;
                cursor: pointer;
                font-size: 14px;
                position: relative;
                &:hover {
                    text-decoration: none;
                }
                &:before {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    background-color: #fff;
                    bottom: -2px;
                    left: -14%;
                    transition: 0.5s all ease-in-out;
                }
            }
            .signup-btn {
                &:before {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    background-color: #fff;
                    bottom: -2px;
                    left: -14%;
                }
            }
            .active {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 130%;
                    height: 1px;
                    background-color: #fff;
                    bottom: -2px;
                    left: -14%;
                }
            }
            .signup-btn {
                background-color: #B48618;
                padding: 10px 1.5rem;
                border-radius: 50px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
}

.mobile-nav {
    display: none;
}

.sideNave {
    display: none;
}

@media screen and (max-width:768px) {
    .navbar {
        display: none;
    }
    //burger
    /* sider */
    .sider {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000000a6;
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
        opacity: 0;
        transition: 0.5s all ease-in-out;
    }
    .sideNave {
        // background: linear-gradient(284deg, #b48618, #000000);
        background: linear-gradient( 229deg, #bf8e19, #3c2d08ed);
        height: 100%;
        width: 300px;
        position: fixed;
        left: -300px;
        transition: 0.5s all ease-in-out;
        display: flex;
        // align-items: center;
        flex-direction: column;
        padding-top: 1rem;
        ul {
            list-style: none;
            margin-top: 5rem;
            height: 88%;
            .signInBox {
                height: 100%;
            }
            li {
                margin-top: 40px;
                text-align: center;
                a {
                    color: #fff;
                    cursor: pointer;
                    font-size: 18px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .active {
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 130%;
                        height: 1px;
                        background-color: #fff;
                        bottom: -2px;
                        left: -14%;
                    }
                }
                .signup-btn {
                    background-color: #B48618;
                    padding: 10px 1.5rem;
                    border-radius: 50px;
                    a {
                        font-size: 14px;
                    }
                }
                .btns {
                    padding: 10px 2.3rem;
                }
            }
        }
    }
    .sidenav-btns {
        position: absolute;
        bottom: 5%;
    }
    /* burger */
    #nav-icon1 {
        width: 37px;
        height: 0px;
        position: absolute;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        top: 30%;
        right: 25px;
        z-index: 302;
        display: block;
    }
    #nav-icon1 span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: #B48618;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    #nav-icon1 span:nth-child(1) {
        top: 0px;
    }
    #nav-icon1 span:nth-child(2) {
        top: 14px;
    }
    #nav-icon1 span:nth-child(3) {
        top: 27px;
    }
    #nav-icon1.open span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    #nav-icon1.open span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 301;
        .navbar-brand {
            width: 130px;
            max-height: 70px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.bgBlack {
    background-color: rgba(0, 0, 0, 0.855);
    backdrop-filter: blur(5px);
    box-shadow: rgb(0 0 0 / 31%) 0px 17px 22px 1px;
}

@media only screen and (max-width: 1024px) {
    .sideNave {
        display: none
    }
}

@media only screen and(max-width:768px) {
    .sideNave {
        display: block
    }
}

@media only screen and (max-width: 540px) {
    .sideNave {
        // background: linear-gradient(284deg, #b48618, #000000);
        height: 100%;
        width: 300px;
        position: fixed;
        left: -300px;
        transition: 0.5s all ease-in-out;
        display: flex;
        // align-items: center;
        flex-direction: column;
        padding-top: 1rem;
        ul {
            list-style: none;
            margin-top: 5rem;
            height: 85%;
            .signInBox {
                height: 100%;
            }
        }
    }
}

@media only screen and (max-width:414px) {
    #nav-icon1 {
        top: 10px;
        right: 0;
    }
}