.navbar {
    width: 100%;
    background-color: transparent;
    font-family: rubiklight;
    position: fixed;
    z-index: 1;
    transition: 0.5s all ease-in-out;
    top: 0;
    .navbar-brand {
        width: 130px;
        max-height: 70px;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    ul {
        list-style: none;
        li {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: #fff;
                cursor: pointer;
                font-size: 14px;
                &:hover {
                    text-decoration: none;
                }
            }
            .active {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 130%;
                    height: 1px;
                    background-color: #fff;
                    bottom: -2px;
                    left: -14%;
                }
            }
            .signup-btn {
                background-color: #B48618;
                padding: 10px 1.5rem;
                border-radius: 50px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
}

.mobile-nav {
    display: none;
}

@media screen and (max-width:768px) {
    .navbar {
        display: none;
    }
    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 1;
        .navbar-brand {
            width: 130px;
            max-height: 70px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.bgBlack{    background-color: rgba(0, 0, 0, 0.855);
    backdrop-filter: blur(5px);
    box-shadow: rgb(0 0 0 / 31%) 0px 17px 22px 1px;}
