.resetContainer {
    padding-top: 6rem;
    .reset-heading h1 {
        text-align: center;
        font-family: 'rubiklight';
        font-size: 55px;
    }
    .reset-subHeading h5 {
        text-align: center;
        font-family: 'rubiklight';
        color: #808080;
        font-size: 18px;
    }
    .reset-inputFeild {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .reset-inputFeild input {
        border: none;
        background-color: #E6E6E6;
        border-radius: 30px;
        padding: 17px 15px 17px 17px;
        font-family: 'rubiklight';
        font-size: 13px;
        width: 45%;
        outline: none;
    }
    .reset-btn {
        padding: 15px 4.3rem;
        color: #fff;
        background: #000;
        border: none;
        border-radius: 50px;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 540px) {
    .resetContainer {
        .reset-inputFeild input {
            width: 90%;
        }
    }
}