<div class="container">

  <div class="inner-article">
    <img src="../../../../assets/1x/articleinner-img-8.png" alt="" srcset="">
  </div>
  <div class="article-inner-content1 mt3">
    <div class="row">
      <div class="col-lg-12">
        <h2>Ten Benefits Of Rentals That May Change Your Perspective</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl
          ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
          dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi. <br> Lorem ipsum dolor sit amet, cons
          ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim
          ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat. <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
          tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
          velit esse molestie
          consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
          blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
    </div>
  </div>
  <div class="article-inner-content2">
    <div class="row">
      <div class="col-lg-12">
        <h2>Lorem Ipsum</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl
          ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
          dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi. <br> Lorem ipsum dolor sit amet, cons
          ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim
          ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat. <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
          tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
          velit esse molestie
          consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
          blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
    </div>
  </div>
  <div class="cstm-container">

    <div class="articles-section mb3">
      <div class="articles">
        <h3>Related Articles</h3>
        <div class="row formargin">
          <div class="col-lg-4">
            <div class="article2">
              <div class="img-box">
                <img src="../../../../assets/1x/article3.png" alt="">
                <div class="content d-flex justify-content-between">
                  <label for="">
                    Ten Benefits Of Rentals That May Change
                    Your Perspective
                  </label>
                  <button>
                    <i class="fa fa-arrow-right fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="article2">
              <div class="img-box">
                <img src="../../../../assets/1x/article4.png" alt="">
                <div class="content d-flex justify-content-between">
                  <label for="">
                    Ten Benefits Of Rentals That May Change
                    Your Perspective
                  </label>
                  <button>
                    <i class="fa fa-arrow-right fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 marginbottom">
            <div class="article2">
              <div class="img-box">
                <img src="../../../../assets/1x/article5.png" alt="">
                <div class="content d-flex justify-content-between">
                  <label for="">
                    Ten Benefits Of Rentals That May Change
                    Your Perspective
                  </label>
                  <button>
                    <i class="fa fa-arrow-right fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
