<div class="properties-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 left-side">

      </div>
      <div class="col-lg-6 right-side">
        <h2>Oklahoma Homes For Sale</h2>
        <div class="filters">
          <div class="filter-dropdown">
            <label for="">Price</label>
            <!-- filters input dropdown -->
            <ng-select [items]="min_value" bindLabel="value" bindValue="id" [(ngModel)]="minValue" placeholder="No Min">
            </ng-select>
            <ng-select [items]="max_value" bindLabel="value" bindValue="id" [(ngModel)]="maxValue" placeholder="No Max">
            </ng-select>
          </div>
          <button>
            More Filters <i class="fa fa-chevron-down"></i>
          </button>
        </div>
        <div class="filters-label">
          <label for="">12 of 2000 Homes</label>
          <ng-select placeholder="Sort">

          </ng-select>
        </div>
      </div>
    </div>
  </div>
</div>
