<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>



<!-- Sign In Modal -->
<div class="modal fade" id="SignInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content modalMain">
            <div class="modal-body loginModal">
                <p class="loginHeading">
                    Sign Up
                </p>
                <i class="fa fa-times crossIcon" data-bs-dismiss="modal" aria-label="Close"></i>
                <div class="emailInput d-flex">
                    <input class="emailInputI" type="email" placeholder="Email">
                </div>
                <div class="emailBtn text-center d-flex flex-column">
                    <button class="continueBtn" routerLink='/signup' data-bs-dismiss="modal" aria-label="Close">
                        Continue With Email
                    </button>
                    <a href="javascript:void(0)" routerLink='/forgot' class="forgetPara" data-bs-dismiss="modal">Forgot
                        Password?</a>
                </div>

                <p class="orPara">
                    or
                </p>

                <div class="containueWithBtns d-flex">
                    <div class="IconsImage">
                        <img src="../assets/1x/googleIcon.png" width="100%" height="100%" alt="">
                    </div>
                    <button class="iconsText">
                        Continue with Google
                    </button>
                </div>
                <div class="containueWithBtns d-flex">
                    <div class="IconsImage">
                        <img src="../assets/1x/facebookIcon.png" width="100%" height="100%" alt="">
                    </div>
                    <button class="iconsText">
                        Continue with Facebook
                    </button>
                </div>
                <div class="containueWithBtns d-flex">
                    <div class="IconsImage">
                        <img src="../assets/1x/appleIcon.png" width="100%" height="100%" alt="">
                    </div>
                    <button class="iconsText">
                        Continue with Apple
                    </button>
                </div>
                <p class="freesignIn">Free Signup</p>
            </div>
        </div>
    </div>
</div>


<!-- Sign Up Modal -->
<div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content modalMain">
            <div class="modal-body loginModal">
                <p class="loginHeading">
                    Sign In
                </p>
                <i class="fa fa-times crossIcon" data-bs-dismiss="modal" aria-label="Close"></i>

                <div class="emailInput d-flex flex-column">
                    <input class="emailInputI emailInput2" type="email" placeholder="Email">
                    <input class="emailInputI emailInput2" type="password" placeholder="password">
                </div>

                <div class="emailBtn text-center d-flex flex-column">
                    <button class="continueBtn" routerLink='/profile' data-bs-dismiss="modal" aria-label="Close">
                        Login
                    </button>
                    <a href="javascript:void(0)" routerLink='/forgot' class="forgetPara" data-bs-dismiss="modal">Forgot
                        Password?</a>
                </div>

                <p class="orPara">
                    or
                </p>

                <div class="containueWithBtns d-flex">
                    <div class="IconsImage">
                        <img src="../assets/1x/googleIcon.png" width="100%" height="100%" alt="">
                    </div>
                    <button class="iconsText">
                        Continue with Google
                    </button>
                </div>
                <div class="containueWithBtns d-flex">
                    <div class="IconsImage">
                        <img src="../assets/1x/facebookIcon.png" width="100%" height="100%" alt="">
                    </div>
                    <button class="iconsText">
                        Continue with Facebook
                    </button>
                </div>
                <div class="containueWithBtns d-flex">
                    <div class="IconsImage">
                        <img src="../assets/1x/appleIcon.png" width="100%" height="100%" alt="">
                    </div>
                    <button class="iconsText">
                        Continue with Apple
                    </button>
                </div>
                <p class="freesignIn">Free Signup</p>
            </div>
        </div>
    </div>
</div>


<!-- Change Password Modal -->
<div class="modal fade" id="ChangePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content modalMain">
            <div class="modal-body loginModal">
                <p class="loginHeading loginHeading2">
                    Change Password
                </p>
                <i class="fa fa-times crossIcon" data-bs-dismiss="modal" aria-label="Close"></i>

                <div class="emailBox mt1 mb1">
                    <label for="" class="label1">
                        Update Your Password
                    </label>
                    <label for="" class="label1">
                        Jacobgomez@gmail.com
                    </label>
                </div>

                <div class="emailInput d-flex flex-column mt2 mb">
                    <input class="emailInputI emailInput2" type="password" placeholder="Old Password">
                    <input class="emailInputI emailInput2" type="password" placeholder="New Password">
                    <input class="emailInputI emailInput2" type="password" placeholder="Re-enter New Password">
                </div>

                <div class="emailBtn emailBtn2 text-center d-flex flex-column mb1">
                    <button class="continueBtn mt1">
                        Change
                        Password
                    </button>

                </div>




            </div>
        </div>
    </div>
</div>