<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>



<!-- Sign In Modal -->
<div class="modal fade" id="SignInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modalMain">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body loginModal">
        <p class="loginHeading">
          Sign In/Sign Up
        </p>
        <div class="emailInput d-flex">
          <input class="emailInputI" type="email" placeholder="Email">
        </div>
        <div class="emailBtn text-center d-flex flex-column">
          <button class="continueBtn">
            Continue With Email
          </button>
          <a href="#" class="forgetPara">Forgot Password?</a>
        </div>

        <p class="orPara">
          or
        </p>

        <div class="containueWithBtns d-flex">
          <div class="IconsImage">
            <img src="../assets/1x/googleIcon.png" width="100%" height="100%" alt="">
          </div>
          <button class="iconsText">
            Continue with Google
          </button>
        </div>
        <div class="containueWithBtns d-flex">
          <div class="IconsImage">
            <img src="../assets/1x/facebookIcon.png" width="100%" height="100%" alt="">
          </div>
          <button class="iconsText">
            Continue with Facebook
          </button>
        </div>
        <div class="containueWithBtns d-flex">
          <div class="IconsImage">
            <img src="../assets/1x/appleIcon.png" width="100%" height="100%" alt="">
          </div>
          <button class="iconsText">
            Continue with Apple
          </button>
        </div>
        <p class="freesignIn">Free Signup</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<!-- Sign Up Modal -->
<div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modalMain">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body loginModal">
        <p class="loginHeading">
          Sign In/Sign Up
        </p>
        <div class="emailInput d-flex flex-column">
          <input class="emailInputI emailInput2" type="email" placeholder="Email">
          <input class="emailInputI emailInput2" type="password" placeholder="password">
        </div>

        <div class="emailBtn text-center d-flex flex-column">
          <button class="continueBtn">
            Continue With Email
          </button>
          <a routerLink='/forgot' class="forgetPara">Forgot Password?</a>
        </div>

        <p class="orPara">
          or
        </p>

        <div class="containueWithBtns d-flex">
          <div class="IconsImage">
            <img src="../assets/1x/googleIcon.png" width="100%" height="100%" alt="">
          </div>
          <button class="iconsText">
            Continue with Google
          </button>
        </div>
        <div class="containueWithBtns d-flex">
          <div class="IconsImage">
            <img src="../assets/1x/facebookIcon.png" width="100%" height="100%" alt="">
          </div>
          <button class="iconsText">
            Continue with Facebook
          </button>
        </div>
        <div class="containueWithBtns d-flex">
          <div class="IconsImage">
            <img src="../assets/1x/appleIcon.png" width="100%" height="100%" alt="">
          </div>
          <button class="iconsText">
            Continue with Apple
          </button>
        </div>
        <p class="freesignIn">Free Signup</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
