<div class="container mt6">

  <!--Start Main Tabs-->

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

    <!--Start Account Settings Link Tabs-->

    <li class="nav-item" role="presentation">
      <button class="nav-link  active" id="accountSettingsTab" data-bs-toggle="pill" data-bs-target="#accountSettings"
        type="button" role="tab" aria-controls="accountSettings" aria-selected="true">Account Settings</button>
    </li>

    <!--End Account Settings Link Tabs-->


    <!--Start Wishlist Link Tabs-->

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="wishlistTab" data-bs-toggle="pill" data-bs-target="#wishlist" type="button"
        role="tab" aria-controls="wishlist" aria-selected="false">Wishlist</button>
    </li>

    <!--End Wishlist Link Tabs-->


    <!--Start Saved Searches Link Tabs-->

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="savedSearchesTab" data-bs-toggle="pill" data-bs-target="#savedSearches" type="button"
        role="tab" aria-controls="savedSearches" aria-selected="false">Saved Searches</button>
    </li>

    <!--End Saved Searches Link Tabs-->


    <!--Start Email Settings Link Tabs-->

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="emailSettingsTab" data-bs-toggle="pill" data-bs-target="#emailSettings" type="button"
        role="tab" aria-controls="emailSettings" aria-selected="false">Email Settings</button>
    </li>

    <!--End Email Settings Link Tabs-->

  </ul>

  <!--End Main Tabs-->

  <!--Start Main Content Tab-->

  <div class="tab-content" id="pills-tabContent">

    <!--Start Account Settings Content Tab-->

    <div class="tab-pane fade show active" id="accountSettings" role="tabpanel" aria-labelledby="accountSettingsTab">
      <div class="container">
        <div class="accountSettingBox">
          <div class="accountSettingHeading mt-5 ">
            <h1>Account Settings</h1>
          </div>
          <div class="accountSettingProfileImage mt-5">
            <img src="../../../../assets/1x/profileImage.png">
          </div>
          <div class="accountSettingEditImage mt-5">
            <img src="../../../../assets/1x/edit.png">
            <i class="fa fa-edit"></i>
          </div>
          <div class="row mt-5">
            <div class="col-lg-4">
              <div class="fullName mt-3">
                <input type="text" placeholder="Full Name">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="emailAddress mt-3">
                <input type="text" placeholder="Email Address">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="phoneNo mt-3">
                <input type="text" placeholder="Phone No">
              </div>
            </div>
          </div>
          <div class="saveUpdate mt2">
            <button class="black-btn">Save Update</button>
          </div>
          <div class="changePassword mt-3">
            <button>Forget Or Change Password</button>
          </div>
          <div class="accountLink mt-5">
            <h2>Linked Accounts</h2>
          </div>
          <div class="accountLinkIcon mt-5">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="accountLinkGoogle">
                  <img src="../../../../assets/1x/google.png">
                  <p>Connect With Google</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="accountLinkFacebook">
                  <img src="../../../../assets/1x/facebook.png">
                  <p>Connect With Facebook</p>
                </div>
              </div>
            </div>
          </div>
          <div class="closeLink mt5">
            <h2>Close Accounts</h2>
          </div>
          <div class="closeLinkText">
            <p>This will remove your login information from our system and you will not be able to login again. It
              cannot be undone.</p>
          </div>
          <div class="closeAccount mt-3">
            <button>Delete Account</button>
          </div>
        </div>
      </div>
    </div>

    <!--End Account Settings Content Tab-->

    <!--Start Wishlist Content Tab-->

    <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlistTab">
      <div class="container mt-5">
        <div class="wishlistBox">
          <div class="wishlistHeading">
            <h1>Wishlist</h1>
          </div>
          <div class="wishListFilters d-flex justify-content-between mt-5">
            <div class="filterS d-flex">
              <div class="filter1 d-flex   align-items-center">
                <label for="">
                  Filters :
                </label>
                <ng-select placeholder="Active & Sold">
                  <ng-option>
                    Active & Sold
                  </ng-option>
                  <ng-option>
                    Active
                  </ng-option>
                </ng-select>
              </div>
              <div class="filter2 d-flex align-items-center">
                <label for="">
                  Sort:
                </label>
                <ng-select placeholder="Date Added (Recent to Old)">
                  <ng-option>
                    Date Added (Recent to Old)
                  </ng-option>
                  <ng-option>
                    Date Added (Old to Recent)
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="filtersMapIcon">
              <i class="fa fa-map-marker mapIocn"></i>Map Homes
            </div>
          </div>

        </div>

        <div class="wishlistCardBox mt-5">
          <div class="row">
            <div class="col-lg-4">

              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="wishlistCardImage">
                      <img src="../../../../assets/1x/home.png" class="img-fluid">
                      <div class="subWishlistCardImage">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="wishlistCardImageTextBox">
                        <p> 770 West Senna Ave. Spiro, OK 74959 </p>
                        <div class="wishlistCardImageText d-flex justify-content-between">
                          <p>3 bd, 2 bath,<br>1360 sqft</p>
                          <h6>$750,000</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="swiper-slide">
                                        <div class="wishlistCardImage">
                                            <img src="../../../../assets/1x/home.png" class="img-fluid">
                                            <div class="subWishlistCardImage">
                                                <img src="Assets/Images/heart.png" class="img-fluid">
                                            </div>
                                            <div class="wishlistCardImageTextBox">
                                                <p> 770 West Senna Ave. Spiro, OK 74959 </p>
                                                <div class="wishlistCardImageText d-flex justify-content-between">
                                                    <p>3 bd, 2 bath,<br>1360 sqft</p>
                                                    <h6>$750000</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="wishlistCardImage">
                                            <img src="../../../../assets/1x/home.png" class="img-fluid">
                                            <div class="subWishlistCardImage">
                                                <img src="Assets/Images/heart.png" class="img-fluid">
                                            </div>
                                            <div class="wishlistCardImageTextBox">
                                                <p> 770 West Senna Ave. Spiro, OK 74959 </p>
                                                <div class="wishlistCardImageText d-flex justify-content-between">
                                                    <p>3 bd, 2 bath,<br>1360 sqft</p>
                                                    <h6>$750000</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>


            </div>

            <div class="col-lg-8">
              <div class="wishlistCardText mt-2">
                <div class="row">
                  <div class="col-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>$/Sq. Ft.</h6>
                      <p>$123</p>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>Year Built</h6>
                      <p>2015</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>On Oklahoma</h6>
                      <p>1 Day</p>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>Lot Size</h6>
                      <p>1360 sq. ft.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="wishlistCardTextOne d-flex justify-content-between">
                      <h6>HOA Dues</h6>
                      <p>2006</p>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="wishlistCardTextOne d-flex justify-content-between">
                      <h6>Status</h6>
                      <p>Active</p>
                    </div>
                  </div>
                </div>
                <div class="wishlistButton">
                  <button class="black-btn">Contact Us</button>
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="wishlistCardBox mt-5">
          <div class="row">
            <div class="col-lg-4">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="wishlistCardImage">
                      <img src="../../../../assets/1x/home.png" class="img-fluid">
                      <div class="subWishlistCardImage">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="wishlistCardImageTextBox">
                        <p> 770 West Senna Ave. Spiro, OK 74959 </p>
                        <div class="wishlistCardImageText d-flex justify-content-between">
                          <p>3 bd, 2 bath,<br>1360 sqft</p>
                          <h6>$1200-3000</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="swiper-slide">
                                        <div class="wishlistCardImage">
                                            <img src="../../../../assets/1x/home.png" class="img-fluid">
                                            <div class="subWishlistCardImage">
                                                <img src="Assets/Images/heart.png" class="img-fluid">
                                            </div>
                                            <div class="wishlistCardImageTextBox">
                                                <p> 770 West Senna Ave. Spiro, OK 74959 </p>
                                                <div class="wishlistCardImageText d-flex justify-content-between">
                                                    <p>3 bd, 2 bath,<br>1360 sqft</p>
                                                    <h6>$1200-3000</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="wishlistCardImage">
                                            <img src="../../../../assets/1x/home.png" class="img-fluid">
                                            <div class="subWishlistCardImage">
                                                <img src="Assets/Images/heart.png" class="img-fluid">
                                            </div>
                                            <div class="wishlistCardImageTextBox">
                                                <p> 770 West Senna Ave. Spiro, OK 74959 </p>
                                                <div class="wishlistCardImageText d-flex justify-content-between">
                                                    <p>3 bd, 2 bath,<br>1360 sqft</p>
                                                    <h6>$1200-3000</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>

            <div class="col-lg-8">
              <div class="wishlistCardText  mt-2">
                <div class="row">
                  <div class="col-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>$/Sq. Ft.</h6>
                      <p>$123</p>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>Year Built</h6>
                      <p>2015</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>On Oklahoma</h6>
                      <p>1 Day</p>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="wishlistCardTextOne under-line  d-flex justify-content-between">
                      <h6>Lot Size</h6>
                      <p>1360 sq. ft.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="wishlistCardTextOne d-flex justify-content-between">
                      <h6>HOA Dues</h6>
                      <p>2006</p>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="wishlistCardTextOne d-flex justify-content-between">
                      <h6>Status</h6>
                      <p>Active</p>
                    </div>
                  </div>
                </div>
                <div class="wishlistButton">
                  <button class="black-btn">Contact Us</button>
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="wishlistCardBox mt-5">
          <div class="row">
            <div class="col-lg-4">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="wishlistCardImage">
                      <img src="../../../../assets/1x/home.png" class="img-fluid">
                      <div class="subWishlistCardImage">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="wishlistCardImageTextBox">
                        <p> 770 West Senna Ave. Spiro, OK 74959 </p>
                        <div class="wishlistCardImageText d-flex justify-content-between">
                          <p>3 bd, 2 bath,<br>1360 sqft</p>
                          <h6>$1200-3000</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="swiper-slide">
                                        <div class="wishlistCardImage">
                                            <img src="../../../../assets/1x/home.png" class="img-fluid">
                                            <div class="subWishlistCardImage">
                                                <img src="Assets/Images/heart.png" class="img-fluid">
                                            </div>
                                            <div class="wishlistCardImageTextBox">
                                                <p> 770 West Senna Ave. Spiro, OK 74959 </p>
                                                <div class="wishlistCardImageText d-flex justify-content-between">
                                                    <p>3 bd, 2 bath,<br>1360 sqft</p>
                                                    <h6>$1200-3000</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="wishlistCardImage">
                                            <img src="../../../../assets/1x/home.png" class="img-fluid">
                                            <div class="subWishlistCardImage">
                                                <img src="Assets/Images/heart.png" class="img-fluid">
                                            </div>
                                            <div class="wishlistCardImageTextBox">
                                                <p> 770 West Senna Ave. Spiro, OK 74959 </p>
                                                <div class="wishlistCardImageText d-flex justify-content-between">
                                                    <p>3 bd, 2 bath,<br>1360 sqft</p>
                                                    <h6>$1200-3000</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>

            <div class="col-lg-8">
              <div class="wishlistCardText mt-2">
                <div class="row">
                  <div class="col-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>$/Sq. Ft.</h6>
                      <p>$123</p>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>Year Built</h6>
                      <p>2015</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>On Oklahoma</h6>
                      <p>1 Day</p>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="wishlistCardTextOne under-line d-flex justify-content-between">
                      <h6>Lot Size</h6>
                      <p>1360 sq. ft.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="wishlistCardTextOne d-flex justify-content-between">
                      <h6>HOA Dues</h6>
                      <p>2006</p>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="wishlistCardTextOne d-flex justify-content-between">
                      <h6>Status</h6>
                      <p>Active</p>
                    </div>
                  </div>
                </div>
                <div class="wishlistButton">
                  <button class="black-btn">Contact Us</button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--End Wishlist Content Tab-->

    <!--Start Saved Searches Content Tab-->

    <div class="tab-pane fade" id="savedSearches" role="tabpanel" aria-labelledby="savedSearchesTab">
      <div class="container mt-5">
        <div class="savedSearchBox">
          <div class="savedSearchHeading">
            <h1>Saved Search</h1>
          </div>



          <div class="container">
            <div class="savedSearchList">
              <div class="row">
                <div class="saved mt-5">
                  <div class="col-lg-6 for-padding">
                    <div class="savedHeading mt-1">
                      <h6>Saved</h6>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="savedRadioButton d-flex justify-content-between">
                      <label class="containercs">Instant
                        <input type="radio" checked="checked" name="radio4">
                        <span class="checkmark"></span>
                      </label>
                      <label class="containercs">Daily
                        <input type="radio" name="radio4">
                        <span class="checkmark"></span>
                      </label>
                      <label class="containercs">Weekly
                        <input type="radio" name="radio4">
                        <span class="checkmark"></span>
                      </label>
                      <label class="containercs">Monthly
                        <input type="radio" name="radio4">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-lg-12">
                  <div class="savedSearchListOne">
                    <div class="savedSearchText">
                      <input type="text" placeholder="Oklahoma City">
                    </div>
                    <div class="savedSearchEditDelete">
                      <i class="fas fa-pencil-alt"></i>
                      <i class="far fa-trash-alt"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="savedSearchListOne mt-5">
                    <div class="savedSearchText">
                      <input type="text" placeholder="Tulsa">
                    </div>
                    <div class="savedSearchEditDelete">
                      <i class="fas fa-pencil-alt"></i>
                      <i class="far fa-trash-alt"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="savedSearchListOne mt-5">
                    <div class="savedSearchText">
                      <input type="text" placeholder="Norman">
                    </div>
                    <div class="savedSearchEditDelete">
                      <i class="fas fa-pencil-alt"></i>
                      <i class="far fa-trash-alt"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="savedSearchListOne mt-5">
                    <div class="savedSearchText">
                      <input type="text" placeholder="Edmond">
                    </div>
                    <div class="savedSearchEditDelete">
                      <i class="fas fa-pencil-alt"></i>
                      <i class="far fa-trash-alt"></i>
                    </div>
                  </div>
                </div>
              </div>





            </div>
          </div>

        </div>
      </div>
    </div>

    <!--End Saved Searches Content Tab-->

    <!--Start Email Settings Content Tab-->

    <div class="tab-pane fade" id="emailSettings" role="tabpanel" aria-labelledby="emailSettingsTab">
      <div class="container mt-5">
        <div class="emailSettingBox">
          <div class="emailSettingHeading">
            <h1>Email Settings</h1>
          </div>
          <div class="row">
            <div class="emailFavourite mt-5">
              <div class="col-lg-6">
                <div class="emailFavouriteHeading mt-1 pt-1">
                  <h6>Your Favourites</h6>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="emailFavouriteRadioButton d-flex justify-content-between pt-2">
                  <label class="containercs">Instant
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                  </label>
                  <label class="containercs">Daily
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                  <label class="containercs">Weekly
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                  <label class="containercs">Monthly
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="emailTypeBox mt-5">
          <div class="emailTypeHeading">
            <h4>Email Types</h4>
          </div>
          <div class="emailTypeRadioButtonBox mt-5">
            <!-- <div class="emailTypeButton mt-5"> -->

            <button type="button" class="" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample">
              Show Less
            </button>
            <!-- </div> -->
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">

              <div class="row">
                <div class="col-lg-12">
                  <div class="emailTypeRadioButton d-flex justify-content-between">
                    <label class="containercs">New Listings
                      <input type="radio" checked="checked" name="radio1">
                      <span class="checkmark"></span>
                    </label>
                    <label class="containercs">Open house Updates
                      <input type="radio" name="radio1">
                      <span class="checkmark"></span>
                    </label>
                    <label class="containercs">Price changes
                      <input type="radio" name="radio1">
                      <span class="checkmark"></span>
                    </label>
                    <label class="containercs">Status Changes
                      <input type="radio" name="radio1">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-12">
                  <div class="emailTypeRadioButton mt-1">
                    <label class="containercs">Sold Listings
                      <input type="radio" name="radio1">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                </div>

              </div>

            </div>

            <div class="savedSearchBox mt-5">
              <div class="savedSearchHeading mt-1">
                <h4>Saved Search</h4>
              </div>
              <div class="row">
                <div class="emailFavourite mt-5">
                  <div class="col-lg-6">
                    <div class="emailFavouriteHeading mt-1">
                      <h6>Oklahoma City</h6>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="emailFavouriteRadioButton d-flex justify-content-between">
                      <label class="containercs">Instant
                        <input type="radio" checked="checked" name="radio2">
                        <span class="checkmark"></span>
                      </label>
                      <label class="containercs">Daily
                        <input type="radio" name="radio2">
                        <span class="checkmark"></span>
                      </label>
                      <label class="containercs">Weekly
                        <input type="radio" name="radio2">
                        <span class="checkmark"></span>
                      </label>
                      <label class="containercs">Monthly
                        <input type="radio" name="radio2">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>

                </div>
              </div>
              <div class="emailTypeBox mt-5">
                <div class="emailTypeHeading">
                  <h4>Email Types</h4>
                </div>
                <!-- <div class="emailTypeRadioButtonBox mt-5"> -->
                <!-- <div class="emailTypeButton mt-5"> -->
                <!-- <button>Show Less</button> -->
                <button type="button" class="" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                  aria-controls="collapseExample">
                  Show Less
                </button>
                <!-- </div> -->


                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">


                  <div class="row">
                    <div class="col-lg-12">
                      <div class="emailTypeRadioButton d-flex justify-content-between">
                        <label class="containercs">New Listings
                          <input type="radio" checked="checked" name="radio3">
                          <span class="checkmark"></span>
                        </label>
                        <label class="containercs">Open house Updates
                          <input type="radio" name="radio3">
                          <span class="checkmark"></span>
                        </label>
                        <label class="containercs">Price changes
                          <input type="radio" name="radio3">
                          <span class="checkmark"></span>
                        </label>
                        <label class="containercs">Status Changes
                          <input type="radio" name="radio3">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="emailTypeRadioButton">
                        <label class="containercs">Sold Listings
                          <input type="radio" name="radio3">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- </div> -->

              </div>
            </div>


            <div class="recommendedBox mt-5">
              <div class="recommendedHeading">
                <h4>Recommended for you</h4>
                <p>Recommended homes based on your searches and favorites.</p>
              </div>
              <div class="recommendedRadioButton mt-5">
                <label class="containercss">Recommended Home
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="homeSearchHeading mt-5">
                <h4>Home Search Insights</h4>
              </div>
              <div class="recommendedRadioButton mt-5">
                <label class="containercss">
                  <h6>Home discovery & trends</h6>
                  <p>Find new homes you'll love & stay on top of the latest market trends.</p>
                  <input type="checkbox" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="recommendedRadioButton mt-4">
                <label class="containercss">
                  <h6>Price whisperer</h6>
                  <p>Hear about listings that fit your search criteria before they hit the market, and provide feedback
                    on
                    pricing.</p>
                  <input type="checkbox" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="recommendedRadioButton mt-4">
                <label class="containercss">
                  <h6>Last call</h6>
                  <p>Get notified when a home that you have shown interest in receives an offer, or has an offer review
                    date approaching.</p>
                  <input type="checkbox" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="recommendedRadioButton mt-4">
                <label class="containercss">
                  <h6>Weekend open houses</h6>
                  <p>Find new homes you'll love & stay on top of the latest market trends.</p>
                  <input type="checkbox" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="recommendedRadioButton mt-4">
                <label class="containercss">
                  <h6>Newsletter from my agent</h6>
                  <p>Get notified about the latest trends in the real estate market from your local Redfin agent.</p>
                  <input type="checkbox" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="homeReportHeading mt-5">
                <h4>Home reports</h4>
              </div>
              <div class="recommendedRadioButton mt-5">
                <label class="containercss">
                  <h6>Comparable home updates</h6>
                  <p>Get notifications when homes sell and affect your estimate.</p>
                  <input type="checkbox" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="newsFeedHeading mt-5">
                <h4>News & Feeds</h4>
              </div>
              <div class="recommendedRadioButton mt-5">
                <label class="containercss">
                  <h6>Oklahoma news and feeds</h6>
                  <p>Stay up to date</p>
                  <input type="checkbox" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>
              </div>

            </div>
          </div>

          <!--End Email Settings Content Tab-->

        </div>
        <!--End Main Content Tab-->
      </div>

      <!--End Main Content Tab-->

    </div>

    <!--End Tabs-->
