.main-bg {
  position: relative;

  &:before {
    background: url(../../../../assets/1x/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &:after {
    background: url(../../../../assets/1x/bg-overlay.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .row {
    width: 100%;

    h1 {
      font-size: 3.5rem;
      color: #fff;
      font-family: rubiklight;

      span {
        color: #B48618;
      }
    }
  }
}

.search {
  position: relative;

  .search-box {
    background: #fff;
    position: absolute;
    width: 50%;
    min-height: 150px;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 10px 44px -6px #00000073;
    -webkit-box-shadow: 0px 10px 44px -6px #00000073;
    -moz-box-shadow: 0px 10px 44px -6px #00000073;

    .search-tabs {

      .nav-pills .nav-link.active,
      .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #b48618;
        font-weight: 400;

      }

      .nav-pills .nav-link {
        min-width: 130px;
        border-radius: 50px !important;
        background-color: #F2F2F2;
        margin-right: 10px;
        color: #000;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      input {
        border-radius: 50px;
        padding: 10px;
        border: 1px solid #B3B3B3;
        outline: none;
        // width: 85%;
      }

      .search-btn {
        button {
          padding: 10px 0;
          border-radius: 50px;
          border: none;
          min-width: 170px;
          background: #000;
          color: #fff;
        }
      }
    }
  }
}

// slick slider
.carousel {
  width: 100%;
  margin: 0px auto;
  position: relative;



  .slick-slide {
    margin: 10px;
  }

  .slick-slide img {
    width: 100%;
    border: 2px solid #fff;
  }

  .wrapper .slick-dots li button:before {
    font-size: 20px;
    color: white;
  }
}

// use for style elements coming from typescript
::ng-deep {
  .prev-arrow {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
  }

  .next-arrow {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
  }
}

.latest-properties {
  margin-top: 7rem;

  h1 {
    margin-bottom: 30px;
  }

  .slick-slide {
    overflow: hidden;

    img {
      border: none;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .properties-slider {
    position: relative;

    .content {
      position: absolute;
      bottom: 0;
      background: #000000ad;
      max-width: 385px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 10px;

      label {
        margin: 0;
        color: #fff;
        font-size: 17px;
      }
    }

    .slide {
      position: relative;

      .heart-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        background: #000000b8;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-heart:before {
          content: "\F08A";
          color: #fff;
        }
      }
    }

  }
}

.want-to-sec {
  margin-top: 5rem;

  .img-box {
    width: 500px;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: 400;
  }

  h1 {
    margin-bottom: 1rem;
    color: #B48618;
    font-weight: 400;
  }

  p {
    color: #666666;
    font-weight: 500;
  }
  .second-col{
    margin-top: 5rem;
    text-align: right;
  }
  .view-btn {
    padding: 8px 2.3rem;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 50px;
  }
}

@media only screen and (min-width:2560px) {
  .main-bg {
    height: 800px !important;
  }

  .search-tabs {
    input {
      width: 85%;
    }
  }
}

@media only screen and (min-width:1920px) {
  .main-bg {
    height: 900px;
  }

  input {
    width: 79%;
  }
}

@media only screen and (max-width:1600px) {
  .main-bg {
    height: 700px;
  }

  input {
    width: 75%;
  }
}

@media only screen and (max-width:1440px) {
  .main-bg {
    height: 650px;
  }

  input {
    width: 72%;
  }
}

@media only screen and (max-width:1366px) {
  .main-bg {
    height: 520px;
  }

  input {
    width: 70%;
  }
}

@media only screen and (max-width:1024px) {
  .main-bg {
    height: 770px;
  }

  input {
    width: 68%;
  }

  .search-btn {
    button {
      min-width: 130px !important;
    }
  }
}

@media only screen and (max-width:414px) {
  .main-bg {
    height: 500px;
  }
}
