.forgotContainer
{
  padding-top: 6rem;
      display: flex;
    flex-direction: column;
    justify-content: center;

  .heading h1 {
        text-align: center;
    font-family: 'rubiklight';
    font-size: 55px;
  }
  .subHeading h5 {
    text-align: center;
    font-family: 'rubiklight';
    color: #808080;
    font-size: 18px;
  }
  .inputFeild {
        text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .inputFeild input {
        border: none;
    background-color: #E6E6E6;
    border-radius: 30px;
    padding: 17px 15px 17px 17px;
    font-family: 'rubiklight';
    font-size: 13px;
    width: 45%;
    outline: none;
  }
  .btn {
        padding: 15px 4.3rem;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 50px;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width:2560px) {
  .forgotContainer{

  }
}
@media only screen and (max-width: 1024px) {
.forgotContainer
{
height: 72vh;
  .inputFeild input {

    width: 50%;
  }
}}
@media only screen and (max-width: 768px) {
.forgotContainer
{
  .inputFeild input {

    width: 70%;
  }
}}
@media only screen and (max-width: 540px) {
.forgotContainer
{

  .inputFeild input {

    width: 90%;
  }
}}
