<div class="container">
    <div class="forgotContainer pt5 mt4">

        <div class="heading ">
            <h1>
                Forgot Password
            </h1>
        </div>
        <div class="subHeading">
            <h5>
                Enter the email address associated with your account
            </h5>
        </div>
        <div class="inputFeild">
            <input type="email" placeholder="Email address">
        </div>
        <div class="text-center mb5">
            <button class="black-btn btn-slide-left">
        Send
      </button>
        </div>
    </div>
</div>