// <!-- Buttons --> //
.topButtonsSection {
    padding-top: 10rem;
    margin-bottom: 2rem;
    .cusotmBlack_btn {
        background-color: #F2F2F2;
        margin: 0 5px;
        color: #000;
        font-family: rubiklight;
        padding: 0;
        height: 45px;
        width: 135px;
        font-size: 14px;
        font-weight: bold;
    }
    .heart-icon {
        background-color: #B48618;
        width: 40px;
        height: 40px;
        margin: 0 4px;
        padding: 9px 10px 0px 13px;
        border-radius: 10px;
        .fa-heart {
            color: #fff;
        }
    }
    .heart-icon2 {
        background-color: #505050;
        width: 40px;
        height: 40px;
        margin: 0 4px;
        padding: 9px 10px 0px 13px;
        border-radius: 10px;
        .fa-share {
            color: #fff;
        }
    }
}

// bannerBox
.bannerBox {
    .imageBox {
        height: 600px;
    }
    .buttonsBox {
        bottom: 10px;
        left: 50px;
    }
    .bannerButton {
        background-color: #F2F2F2;
        margin: 0 5px;
        color: #000;
        font-family: rubiklight;
        padding: 0;
        height: 50px;
        width: 231px;
        font-size: 15px;
        border: none;
        font-weight: bold;
        border-radius: 10px;
    }
}

// slick slider
.carousel {
    width: 100%;
    margin: 0px auto;
    position: relative;
    .slick-slide {
        margin: 10px;
    }
    .slick-slide img {
        width: 100%;
        border: 2px solid #fff;
    }
    .wrapper .slick-dots li button:before {
        font-size: 20px;
        color: white;
    }
}

// use for style elements coming from typescript
// ::ng-deep {
//   .property{
//     .prev-arrow,
//     .next-arrow{
//       background: #fff;
//     box-shadow: 0px 0px 12px 0px #7f7f7f;
//     border-radius: 100px;
//     }
//   }
// }
// latest-properties
.latest-properties {
    margin-top: .5rem;
    h1 {
        margin-bottom: 30px;
        font-family: rubiksemibold;
        color: #000;
    }
    .slick-slide {
        overflow: hidden;
        img {
            border: none;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .properties-slider {
        position: relative;
        .slide {
            position: relative;
            cursor: pointer;
            .heart-icon {
                position: absolute;
                right: 10px;
                top: 10px;
                background: #000000b8;
                border-radius: 50px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                .fa-heart:before {
                    content: "\F08A";
                    color: #fff;
                }
            }
        }
    }
}

// map container
.map-container2 {
    agm-map {
        height: 250px;
    }
}

// property details
.row {
    .col-lg-8 {
        .map-container1 {
            agm-map {
                height: 450px;
            }
        }
        .head {
            span {
                font-family: rubikregular;
                font-size: 38px;
            }
            h1 {
                font-family: rubiksemibold;
                font-size: 38px;
            }
            .content {
                .price {
                    h5 {
                        font-size: 26px;
                        font-family: rubiksemibold;
                    }
                }
                .details {
                    .detial {
                        min-width: 100px;
                    }
                }
            }
        }
    }
}

.get-in-touch-form {
    text-align: center;
    h1 {
        font-family: rubikregular;
        color: 1A1A1A;
    }
    .get-form-input {
        width: 100%;
        margin-top: 1rem;
        padding: 10px 15px;
        border-radius: 50px;
        border: 1px solid #4D4D4D;
        font-family: rubiklight;
        color: #808080;
        outline: none;
    }
    .get-form-textarea {
        width: 100%;
        margin-top: 1rem;
        padding: 10px 15px;
        border-radius: 10px;
        border: 1px solid #4D4D4D;
        font-family: rubiklight;
        color: #808080;
        outline: none;
    }
    .get-touch-btn {
        padding: 8px 2.3rem;
        color: #fff;
        background: #000;
        border: none;
        border-radius: 50px;
        width: 50%;
        cursor: pointer;
    }
}

.section-1-inner {
    h2 {
        font-family: rubikregular;
        color: 1A1A1A;
    }
    p {
        font-family: poppinregular;
        color: #666666;
        margin-bottom: 0px;
    }
    button {
        border: none;
        color: #B48618;
        font-size: 14px;
        font-family: poppinregular;
        padding: 0;
    }
}

.section-2-inner {
    h3 {
        font-family: rubikregular;
        color: 1A1A1A;
    }
    .grey-text {
        color: #4D4D4D;
        font-size: 16px;
        font-family: poppinregular;
        width: fit-content;
        margin-top: 10px;
    }
    .yellow-text {
        color: #B48618;
        font-size: 16px;
        font-family: poppinregular;
        width: fit-content;
        margin-top: 10px;
    }
}

.section-3-inner {
    h3 {
        font-family: rubikregular;
        color: 1A1A1A;
    }
    .grey-text {
        color: #4D4D4D;
        font-size: 16px;
        font-family: poppinregular;
        width: fit-content;
        margin-top: 10px;
    }
    .yellow-text {
        color: #B48618;
        font-size: 16px;
        font-family: poppinregular;
        width: fit-content;
        margin-top: 10px;
    }
}

.section-4-inner {
    h2 {
        font-family: rubikregular;
        color: 1A1A1A;
    }
    .vistrula-text-line {
        padding-left: 2rem;
    }
    span {
        margin-top: 2rem;
        font-size: 18px;
        color: #333333;
        font-family: poppinregular;
        font-weight: 600;
    }
    .text-style {
        display: flex;
        flex-direction: column;
        a {
            color: #B48618;
            font-family: rubikregular;
            font-size: 14px;
        }
    }
    .text-style-black {
        font-size: 16px;
        font-family: rubiksemibold;
        color: #1A1A1A;
    }
    li {
        color: #666666;
        font-size: 16px;
        font-family: rubikregular;
    }
}

.section-5-inner {
    h4 {
        font-family: rubikregular;
        color: #333333;
        padding-left: 2rem;
    }
    .vistrula-text-line {
        padding-left: 2rem;
    }
    span {
        margin-top: 2rem;
        font-size: 18px;
        color: #333333;
        font-family: poppinregular;
        font-weight: 600;
    }
    .text-style {
        display: flex;
        flex-direction: column;
        a {
            color: #B48618;
            font-family: rubikregular;
            font-size: 14px;
        }
    }
    .text-style-black {
        font-size: 16px;
        font-family: rubiksemibold;
        color: #1A1A1A;
    }
    li {
        color: #666666;
        font-size: 16px;
        font-family: rubikregular;
    }
}

.section-7-inner {
    h4 {
        font-family: rubikregular;
        color: #333333;
        padding-left: 2rem;
    }
    .vistrula-text-line {
        padding-left: 2rem;
    }
    span {
        margin-top: 2rem;
        font-size: 18px;
        color: #333333;
        font-family: poppinregular;
        font-weight: 600;
    }
    .text-style {
        display: flex;
        flex-direction: column;
        a {
            color: #B48618;
            font-family: rubikregular;
            font-size: 14px;
        }
    }
    .text-style-black {
        font-size: 16px;
        font-family: rubiksemibold;
        color: #1A1A1A;
    }
    li {
        color: #666666;
        font-size: 16px;
        font-family: rubikregular;
    }
}

.section-11-inner {
    .vistrula-text-line {
        font-size: 18px;
        font-family: poppinregular;
        color: #666666;
    }
    .last-section-text-main {
        p {
            color: #B48618;
            font-size: 18px;
            font-family: rubiksemibold;
            margin: 0;
        }
        span {
            font-size: 16px;
            font-family: poppinregular;
            color: #666666;
        }
    }
    .last-section-text {
        text-align: center;
        line-height: 16px;
        p {
            color: #B48618;
            font-size: 18px;
            font-family: rubiksemibold;
            margin: 0px;
            i {
                color: #4D4D4D;
            }
        }
        span {
            font-size: 12px;
            font-family: poppinregular;
            color: #666666;
        }
    }
    .text-style-black {
        font-size: 18px;
        font-family: rubiksemibold;
        color: #1A1A1A;
    }
}