<!-- home banner -->
<div class="main-bg d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Want to <span> Buy </span> your <span>Dream House?</span></h1>
      </div>
    </div>
  </div>
</div>
<!-- home search box -->
<div class="search">
  <div class="search-box">
    <div class="search-tabs">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-buy-tab" data-bs-toggle="pill" data-bs-target="#pills-buy"
            type="button" role="tab" aria-controls="pills-buy" aria-selected="true" target="_self">For Buy</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-rent-tab" data-bs-toggle="pill" data-bs-target="#pills-rent" type="button"
            role="tab" aria-controls="pills-rent" aria-selected="false" target="_self">For Rent</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab">
          <div class="d-flex flex-wrap justify-content-between">
            <input type="text" placeholder="Enter Address State,City,Zip">
            <div class="search-btn">
              <button class="black-btn">Search</button>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-rent" role="tabpanel" aria-labelledby="pills-rent-tab">
          <div class="d-flex flex-wrap justify-content-between">
            <input type="text" placeholder="Enter Address State,City,Zip">
            <div class="search-btn">
              <button class="black-btn">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- slick slider -->
<div class="container">
  <h1 class="text-center housesForSeal mt7 mb2">Oklahoma City Houses For Sale</h1>
  <div class="properties-slider">
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img1.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img2.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img3.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt2 mb3">
    <button class="black-btn black-btn1 ">See All</button>
  </div>

</div>

<!-- slick slider -->
<div class="container">
  <h1 class="text-center housesForSeal mt7 mb2">Tulsa Houses For Sale</h1>
  <div class="properties-slider">
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img1.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img2.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img3.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt2 mb3">
    <button class="black-btn black-btn1 ">See All</button>
  </div>

</div>

<!-- slick slider -->
<div class="container">
  <h1 class="text-center housesForSeal mt7 mb2">Norman Houses For Sale</h1>
  <div class="properties-slider">
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img1.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img2.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img3.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt2 mb3">
    <button class="black-btn black-btn1 ">See All</button>
  </div>

</div>

<!-- slick slider -->
<div class="container">
  <h1 class="text-center housesForSeal mt7 mb2">
    Edmond Houses For Sale
  </h1>
  <div class="properties-slider">
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img1.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img2.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img3.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right"><strong>$750,000</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt2 mb4">
    <button class="black-btn black-btn1 ">See All</button>
  </div>

</div>
