    // banner section
    .forBuyBg{
        &:before
        {background: url(../../../../assets/1x/forbuyBanner.png);}
    }
    .forRentBg{
        &:before
        {background: url(../../../../assets/1x/forrentbanner.png);}
    }
    .main-bg {
        position: relative;
        &:before {
            
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &:after {
            background: url(../../../../assets/1x/bg-overlay.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .row {
            width: 100%;
            h1 {
                font-size: 3.5rem;
                color: #fff;
                font-family: rubiklight;
                span {
                    font-family: rubikbold;
                    color: #B48618;
                }
            }
        }
    }
    
    .mainBox{
        position: relative;
    }
    .slick-slide{
        display: block;
    }
    .slide {
        position: relative;
            cursor: pointer;
            height: 240px;
            border-radius: 15px;
            overflow: hidden;
        .heart-icon {
            transition: 0.5s all ease-in-out;
            background-color: #000000bf;
            border-radius: 50px;
            height: 40px;
            width: 40px;
            padding: 8px 7px 8px 7px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            .fa-heart:before {
                // content: "\F08A";
                color: #fff;
            }
        }
        .heart-icon:hover{
            background: #b48618d9;
        }
       
    }
    // search box section
    .search {
        position: relative;
        margin-top: -5rem;
        .search-box {
            background: #fff;
            // position: absolute;
            width: 70%;
            // min-height: 110px;
            left: 50%;
            // transform: translateX(-50%);
            // top: -100px;
            margin: auto;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0px 10px 44px -6px #00000073;
            -webkit-box-shadow: 0px 10px 44px -6px #00000073;
            -moz-box-shadow: 0px 10px 44px -6px #00000073;
        }
        .search_Boxs {
            input {
                outline: none;
                border: 1px solid lightgrey;
                border-radius: 50px;
                font-family: 'rubiklight';
                font-size: 14px;
                padding: 10px 15px;
                width: 100%;
            }
            .buttonsBox1 {
                // margin: 0 6px !important;
                button{
                    min-width: auto;
                }
                .ng-select {
                    background-color: #B48618 !important;
                    border-radius: 50px !important;
                    min-width: 100% !important;
                    .ng-select.ng-select-single .ng-select-container {
                        background-color: #B48618 !important;
                        border-radius: 50px !important;
                        min-width: 100% !important;
                        .ng-value-container {
                            color: #fff !important;
                            font-family: 'rubiklight' !important;
                            .ng-value {
                                font-family: 'rubiklight' !important;
                            }
                        }
                    }
                }
            }
        }
    }

    // properties items
    .housesForSeal {
        font-size: 35px;
        color: #000;
        font-family: rubiksemibold;
    }

    .black-btn1 {
        padding: 13px 4rem;
    }

    .slick-slide {
        overflow: hidden;
        img {
            border: none;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    .properties-slider {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .content {
            position: absolute;
            bottom: 0;
            background: #000000ad;
            max-width: 385px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: 10px;
            label {
                margin: 0;
                color: #fff;
                font-size: 15px;
                strong {
                    font-family: rubikbold;
                }
            }
        }
        .slide {
            position: relative;
            width: 310px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: auto;
            margin-left: auto;
            img {
                border-radius: 15px;
            }
            .heart-icon {
                position: absolute;
                right: 10px;
                top: 10px;
                background: #000000b8;
                border-radius: 50px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                .fa-heart:before {
                    // content: "\f004";
                    color: #fff;
                }
            }
        }
    }
    .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #000000bd;
        color: #fff;
        padding: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        align-items: center;
        transition: 0.5s all ease-in-out;
        label {
            font-size: 20px;
            font-family: rubiklight;
            width: 70%;
            margin: 0;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
        }
        a{
            text-decoration: none;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #B48618;
            border-radius: 50px;
            border: none;
            overflow: hidden;
            transition: 0.5s all ease-in-out;
            border: 2px solid transparent;
            i {
                font-size: 20px;
                transition: 0.5s all ease-in-out;
            }
            &:hover{
                background-color: transparent;
                border-color: #B48618;
                i{
                    transform: rotate(360deg);
                    color: #fff;
                }
            }
            
        }
    }
    // media queries
    @media only screen and (min-width:2560px) {
        .main-bg {
            height: 800px !important;
        }
        .search-tabs {
            input {
                width: 85%;
            }
        }
        .search .search-box {
            width: 33%
        }
    }

    @media only screen and (min-width:1920px) {
        .main-bg {
            height: 900px;
        }
        input {
            width: 79%;
        }
    }

    @media only screen and (min-width:1600px) {
        .cstm-container {
            .articles-section {
                .articles {
                    .article {
                        width: 715px;
                    }
                    .article2 {
                        width: 475px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width:1600px) {
        .main-bg {
            height: 700px;
        }
        input {
            width: 75%;
        }
    }

    @media only screen and (max-width:1440px) {
        .main-bg {
            height: 650px;
        }
        input {
            width: 72%;
        }
        .cstm-container {
            .articles-section {
                .articles {
                    .article {
                        width: 707px;
                    }
                    .article2 {
                        width: 470px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width:1366px) {
        .main-bg {
            height: 520px;
        }
        input {
            width: 70%;
        }
        .cstm-container {
            .articles-section {
                .articles {
                    .article {
                        width: 670px;
                    }
                    .article2 {
                        width: 445px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width:1024px) {
        .main-bg {
            height: 770px;
        }
        input {
            width: 70%;
        }
        .search {
            .search-box {
                .search-tabs {
                    .search-btn {
                        button {
                            min-width: 130px;
                        }
                    }
                }
            }
        }
        // properties items
        .properties-slider {
            .slide {
                width: 270px;
            }
        }
        .search_Boxs {
            flex-direction: column;
            align-items: center;
            input {
                padding: 10px 10px 10px 10px;
                margin-bottom: 13px;
                width: 100% !important;
            }
        }
    }

    @media only screen and (max-width:768px) {
        .search {
            .search-box {
                width: 70%;
            }
        }
         ::ng-deep {
            .prev-arrow {
                display: none !important;
            }
            .next-arrow {
                display: none !important;
            }
        }
        .img-box {
            width: 100% !important;
        }
        .download-section {
            .download-icons {
                position: static;
            }
        }
        .cstm-container {
            .articles-section {
                .articles {
                    .article {
                        width: 90%;
                        margin: 2% auto;
                        button {
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .article2 {
                        width: 90%;
                        margin: 2% auto;
                        button {
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .img-box {
                        .content {
                            align-items: baseline;
                        }
                    }
                }
            }
        }
        .want-to-sec {
            .second-col {
                text-align: left;
            }
        }
        // properties items
        .properties-slider {
            .slide {
                width: 320px;
                margin: 10px;
            }
        }
    }

    @media only screen and (max-width:540px) {
        .mainbtnsBox {
            flex-wrap: wrap;
            justify-content: center;
        }
        .search .search_Boxs .buttonsBox1 {
            margin-top: 10px !important;
        }
    }

    @media only screen and (max-width: 414px) {
        .main-bg {
            height: 500px;
            .row {
                h1 {
                    font-size: 2.5rem;
                }
            }
        }
        .search {
            .search-box {
                margin-bottom: 2rem;
                width: 90%;
                min-height: 150px;
                .buttonsBox1 {
                    width: 100%;
                    button {
                        width: 100%;
                    }
                }
                .search-tabs {
                    .nav-pills .nav-link {
                        min-width: 100px;
                    }
                    input {
                        width: 100%;
                    }
                    .search-btn {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        button {
                            margin: 20px auto 0 auto;
                            min-width: 160px;
                        }
                    }
                }
            }
        }
        .review-banner {
            flex-direction: column;
        }
        .cstm-container {
            .articles-section {
                .articles {
                    .img-box {
                        .content {
                            align-items: center;
                        }
                    }
                }
            }
        }
        .download-section {
            text-align: center;
            .head {
                flex-direction: column;
                img {
                    margin-left: 0;
                }
            }
            h4 {
                transform: translateY(0);
            }
            .download-icons {
                margin-top: 20px;
                .icons {
                    width: 100%;
                    justify-content: center;
                    img {
                        width: 130px;
                    }
                }
            }
        }
        .properties-section {
            .row {
                .col-lg-6 {
                    // properties items
                    .properties-slider {
                        .content {
                            label {
                                font-size: 17px;
                            }
                        }
                        .slide {
                            width: 100%;
                        }
                    }
                }
            }
        }
        // properties items
        .properties-slider {
            .content {
                label {
                    font-size: 17px;
                }
            }
            .slide {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width:375px) {
        .mainbtnsBox {
            // flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
