<!-- home banner -->
<div class="main-bg d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" *ngIf="href == '/forbuy'">
        <h1>Want to <span> Buy </span> your <span>Dream House?</span></h1>
      </div>
      <div class="col-lg-6" *ngIf="href == '/forrent'">
        <h1>Find the <span> perfect </span> <br> <span>rentals</span></h1>
      </div>
    </div>
  </div>
</div>
<!-- home search box -->
<div class="search">
  <div class="search-box">
    <div class="search_Boxs d-flex">
      <input type="text" placeholder="Enter city or state to find a property!">
      <div class="mainbtnsBox d-flex">
        <div class="buttonsBox1">
          <ng-select placeholder="Sort">
            <ng-option>
              No Min
            </ng-option>
            <ng-option>
              1
            </ng-option>
          </ng-select>
        </div>
        <div class="buttonsBox1">
          <ng-select placeholder="Sort">
            <ng-option>
              No Max
            </ng-option>
            <ng-option>
              100
            </ng-option>
          </ng-select>
        </div>
        <div class="buttonsBox1">
          <button class="black-btn">Search</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- slick slider -->
<div class="container">
  <h1 class="text-center housesForSeal mt7 mb2" *ngIf="href == '/forbuy'">Oklahoma City Houses For Sale</h1>
  <h1 class="text-center housesForSeal mt7 mb2" *ngIf="href == '/forrent'">Oklahoma City Houses For Rent</h1>

  <div class="properties-slider">
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img1.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img2.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img3.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt2 mb3">
    <button class="black-btn black-btn1 " routerLink='/properties'>See All</button>
  </div>

</div>

<!-- slick slider -->
<div class="container">
  <h1 class="text-center housesForSeal mt7 mb2" *ngIf="href == '/forbuy'">Tulsa Houses For Sale</h1>
  <h1 class="text-center housesForSeal mt7 mb2" *ngIf="href == '/forrent'">Tulsa Houses For Rent</h1>

  <div class="properties-slider">
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img1.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img2.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img3.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt2 mb3">
    <button class="black-btn black-btn1 " routerLink='/properties'>See All</button>
  </div>

</div>

<!-- slick slider -->
<div class="container">
  <h1 class="text-center housesForSeal mt7 mb2" *ngIf="href == '/forbuy'">Norman Houses For Sale</h1>
  <h1 class="text-center housesForSeal mt7 mb2" *ngIf="href == '/forrent'">Norman Houses For Rent</h1>
  <div class="properties-slider">
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img1.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img2.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img3.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt2 mb3">
    <button class="black-btn black-btn1 " routerLink='/properties'>See All</button>
  </div>

</div>

<!-- slick slider -->
<div class="container">
  <h1 class="text-center housesForSeal mt7 mb2" *ngIf="href == '/forbuy'">
    Edmond Houses For Sale
  </h1>
  <h1 class="text-center housesForSeal mt7 mb2" *ngIf="href == '/forrent'">
    Edmond Houses For Rent
  </h1>
  <div class="properties-slider">
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img1.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img2.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" routerLink='/propertyinner'>
      <div class="heart-icon">
        <i class="fa fa-heart"></i>
      </div>
      <img src="../../../../assets/1x/slider-img3.png" alt="" width="100%">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <label for="">770 West Senna Ave. Spiro, OK 74959 </label>
          </div>
          <div class="col-sm-12 ">
            <div class="upper-cols d-flex">
              <label for=""><strong>3</strong> bd,</label>
              <label for=""><strong>2</strong> bath,</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="lower-cols">
              <label for=""><strong>1360</strong> sqft</label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <label for="" class="text-right" *ngIf="href == '/forbuy'"><strong>$750,000</strong></label>
            <label for="" class="text-right" *ngIf="href == '/forrent'"><strong>$7000-9000</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt2 mb4">
    <button class="black-btn black-btn1 " routerLink='/properties'>See All</button>
  </div>

</div>
